body {background:beige;
     font-family:serif;
     font-size:large;
     font:200;}
img#train {width:500px;
          border:solid lightcoral;
           
}
h1{color:coral;}
h2 {color:coral;}
